<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">

</head>
<body>
<img src="{{url_for('static', filename='/images/Nature_logo.png')}}" />
<img class="MeshLogo" src="{{url_for('static', filename='/images/Medical_Subject_Headings_logo.jpg')}}" />


   <h1>Nature/MESH keyword search for medical professionals</h1>
    <h2>Geben Sie zwei Suchwörter für die Suche auf "Nature Journal" an:</h2>
    <form method="POST">
    <input name="searchInputEINS"></input>
        <input name="searchInputZWEI"></input>
    <input type="submit">
    </form>

     <h2>Titel der gefundenen Artikel:</h2>
     {% for object in titelUndArtikel %}
         <li class="tooltip">{{ object.titel }}
           <span class="tooltiptext">{{ object.abstract }}</span>
         </li>
     {% endfor %}

    <!-- später als tooltip über die Titel einbauen mit for in for schleife
     {% for abstract in docs %}
      <li>{{ abstract }} </li>
     {% endfor %}
    -->

      <h2 class="HeadingWikipediaLinks" >Keywörter aus allen Artikeln:</h2>

     {% for object in LinksKeywordsAndSummary %}
         <a href="{{ object.link }}" class="tooltip">{{ object.keyword }} ,
           <span class="tooltiptext">{{ object.summary }}</span>
         </a>
     {% endfor %}


      <h2>MESH Suchergebnisse:</h2>
      <h2>Mesh Netzwerk Visualisierung:</h2>
      <img class="MeshLogo" src="{{url_for('static', filename='/images/GraphViz.png')}}" />

</body>
</html>