* {
font-family: Roboto , sans-serif;
color: #5c5c5c ;
}

#h2 {
font-size; 15px
font-weight: 100 ;
}

.MeshLogo{
height: 292px;
}

.Keywords{
float: left;
}

.HeadingWikipediaLinks{
width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 820px;
  background-color: #41784f;
  color: #fff ;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
